
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
html, body {
    height: 50%;
    color: #aaabac;
    background: #ebe9e9;
}
h1{
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
    margin:auto;
    margin-bottom: 10px;
    color: rgb(130, 120, 141);
}
.list{
    background: rgb(241, 238, 238);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0, 2), 0 25px 50px 0 rgba(0, 0, 0, 0, 1);
    border-bottom-style: inset;
    border-bottom-width: 1px;
}
ul{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    border-bottom: 1px solid #ededed;
    list-style: none;
    margin-left: 50px;
    color: rgb(241, 238, 238);
}
li{
    color: rgb(241, 238, 238);
    padding: 10px;
}
.form{
    width: 500px;
    color: rgb(241, 238, 238);
    margin: auto;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #ededed;
    font-weight: lighter;
    padding: 0;
    box-shadow: 
    0 0 25px hsl(0, 0%, 80%),
    0 0 30px hsl(0, 0%, 90%);
}
.task-input{
    padding: 10px;
    margin-left: 50px;
    color: #fff;
    border: none;
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}

.task-ammount{
    background-color: rgb(241, 238, 238);
    font-size: small;
    margin-left: 10px;
    padding: 3px;
}